{% extends 'core/base.html' %}

{% block title %}Success{% endblock %}

{% block content %}

<div class="container p-4" style="background-color:#D9D9D9; height:220px; width:250px; margin-top:10%; border-radius:25px;">

<label style="margin-left:50px;margin-top:-40px"><i class="bi bi-check2" style="color:green; font-size:100px;"></i>
</label>

    <label style="background-color:white; width:200px; border-radius:20px;">
        <p class="text-center pt-1" style="color:#AE8E70">
    THANK YOU!<br>
    Order Successfully Placed
        </p>
        </label>

  </div>

{% endblock %}