{% extends 'core/base.html' %}

{% block title %}About{% endblock %}

{% block content %}
<div class="container pt-5">

    <hr style="color:white;">
    <div class="" style="font-size:20px; width:75%; margin-left:10%; text-align: center;">
        Dear readers,<br>

We offer a huge collection of books from diverse categories of Romance, Drama, Sci-Fi, Comedy, etc.

We strive for customer satisfaction by offering a user-friendly search engine, efficient payment options and seamless delivery systems. Apart from all this, we also provide great deals and discounts on our products.

All the Publishers, Distributors and Authors around the country are welcome to partner with us and grow The Bookshelf family. We would like to thank our customers for shopping with us. You can write to us on our e-mail id to share any suggestions or feedback you might have regarding our website or services.
    </div>
<hr style="color:white;">
    <div class="pt-4 pb-4" style="margin-left:65%; font-size:18px;"> <em>"I declare after all there is no enjoyment like reading!" <br> Jane Austen, Pride and Prejudice</em></div>

<hr style="color:white;">

    </div>
{% endblock %}